body {
    background: $iceBlue;
}

.blogHeader {
    background-image: url(../Assets/blog-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
        font-size: 3.95rem;
        color: white;
        text-shadow: 2px 2px 2px black;
        margin: 0;
        padding: 10% 0 15% 0;
    }
}

// BLOG SECTION

.blogSection {
    background: $iceBlue;
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
        display: block;
    }
}


.blogAside {
    background: $twilightBlue;
    width: 30%;
    margin: 5% 7.5%;
    height: 100%;
}
.asideImage {
    width: 120%;
    position: relative;
    right: 30%;
    bottom: 20px;
}


.asideInfo {
    margin: 10%;
    h4 {
        color: $dandelion;
        font-size: 1.5rem;
        margin: 10% 0 5% 0;
    }
    p{
        color: white;
    }

    ul {
        color: white;
        list-style-type: disc;
        padding-left: 5%;
        li {
            padding: 2% 0;
        }
    }
}



.nextDestinationImage {
    box-shadow: -25px 15px 0px 0px rgba(253,217,8,1);
    margin-left: 20px;
    position: relative;
    bottom: 5%;
}

article {
    border-left: $dandelion 5px solid;
    border-bottom: $dandelion 5px solid;
    width: 70%;
    padding-bottom: 5%;
}

.nextDestinationPost {
    h3 {
        color: $twilightBlue;
        font-size: 2rem;
        margin: 2% 0;
    }
    p{
        margin: 5% 0
    }
}

// COMMENTS SECTION

.commentSection {
    margin-left: 40%;
    margin-top: 5%;
}

.commentSection h3 {
    color: $twilightBlue;
    font-size: 2rem;
    margin: 2% 0;
}

.userComments {
    display: flex;
    margin-top: 5%;
}

.comment p {
    margin: 0 0 0 5%;;
}

p.commentDate {
    color: $twilightBlue;
    font-weight: bold;
    margin-bottom: .5%;
}

.profilePic {
    width: 25%;
    max-width: 85px;
}

.commentForm {
    padding: 3% 0;

    input, textarea, label {
        width: 100%;
        display: block;
        background: $iceBlue;
        color: black;
        margin: 5% 0;
        padding: 20px;
        border: none;
    }

    input, label {
        border-bottom: 2px $dandelion solid;
    }
    input:hover, textarea:hover{
        background: rgb(213, 231, 230);
        border-radius: 3px;
    }
    input:focus, textarea:focus{
        background: rgb(213, 231, 230);
        border-radius: 3px;
    }

    textarea {
        border: 2px $dandelion solid;
    }

    input[type="submit"] {
        text-decoration: none;
        font-style: italic;
        font-family: $headingFont;
        text-transform: uppercase;
        color: $dandelion;
        background: $twilightBlue;
        border: none;
        margin: 0;
        padding: 10px;
    }

    input[type="submit"]:hover {
        background: rgb(18, 89, 165);
    }
    input[type="submit"]:focus {
        background: rgb(18, 89, 165);
    }

    .commentName {
        width: 50%;
        margin-right: 2%;
        
    }
    .commentEmail {
        width: 50%;
        margin-left: 2%;
    }

    .container {
        display: flex;
        justify-content: space-between
    }
}



@media (max-width: 750px) {
    .blogAside {
        display: none;
    }
    article {
        justify-content: center;
        border: 5px solid $dandelion;
        width: 90%;
    }

    .blogSection {
        justify-content: center;
    }

    .commentSection {
        margin-left: 5%;
        margin-right: 5%;
    }
    .nextDestinationImage {
        position: initial;
        box-shadow: none;
        margin-left: 0;
    }

    
}

@media (max-width: 450px) {
    .nextDestinationPost>h3 {
        font-size: 1.5rem;
    }
    .profilePic {
        display: none;
    }
    h1 {
        font-size: 3rem;
    }
}






