.blogHeader {
    background-image: url(../assets/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
        font-size: 3.95rem;
        color: white;
        text-shadow: 2px 2px 2px black;
        margin: 0;
        padding: 10% 0 15% 0;
    }
}

.blogSection {
    background: $iceBlue;
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
        display: block;
    }
}


aside {
    background: $twilightBlue;
    width: 30%;
    margin: 5% 7.5%;
    height: 100%;
}
.asideImage {
    position: relative;
}


.asideInfo {
    margin: 10%;
    h4 {
        color: $dandelion;
        font-size: 1.5rem;
        margin: 15% 0 5% 0;
    }
    p{
        color: white;
    }

    ul {
        color: white;
        list-style-type: disc;
        padding-left: 5%;
        li {
            padding: 2% 0;
        }
    }
}



.nextDestinationImage {
    box-shadow: -25px 15px 0px 0px rgba(253,217,8,1);
    margin-left: 20px;
    position: relative;
    bottom: 5%;
}

article {
    border-left: $dandelion 5px solid;
    border-bottom: $dandelion 5px solid;
    width: 70%;
}

.nextDestinationPost {
    h3 {
        color: $twilightBlue;
        font-size: 2rem;
        margin: 2% 0;
    }
    p{
        margin: 5% 0
    }
}

// COMMENTS SECTION

.commentSection {
    background: $iceBlue;
    h3 {
        color: $twilightBlue;
        font-size: 2rem;
        margin: 2% 0;
    }
}

.userComment {
    display: flex;
}




