.contactHeader{
    background-image: url(../Assets/contact-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contactHeader {
    h1 {
    font-size: 3.95rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    padding: 10% 0 15% 0;
    }
}

.contactSection>div {
    display: flex;
    justify-content: space-between
}

.contactSection{
    ul {
        display: flex;
        margin: 5% 0;
        li{
            margin: 0 10% 0 0;
        }
        a {
            color: $twilightBlue;
        }
    }
    p {
        a {
            color: black;
            text-decoration: none;
        }
    }
}

.contactAside {
    margin-top: 5%;
    margin-right: 1%;
}


.contactForm {
    background: $twilightBlue;
    padding: 3% 0;
    box-shadow: 20px 20px 0px 0px rgba(253,217,8,1);
    position: relative;
    bottom: 100px;

    input, textarea, label {
        width: 100%;
        display: block;
        background: $twilightBlue;
        color: white;
        margin: 5% 0;
        padding: 20px;
        border: none;
    }
    input, label {
        border-bottom: 2px $dandelion solid;
    }

    input:hover, textarea:hover{
        background: rgb(11, 57, 107);
        border-radius: 3px;
    }
    input:focus, textarea:focus{
        background: rgb(11, 57, 107);
        border-radius: 3px;
    }

    textarea {
        border: 2px $dandelion solid;
    }

    input[type="submit"] {
        text-decoration: none;
        font-style: italic;
        font-family: $headingFont;
        text-transform: uppercase;
        color: $twilightBlue;
        background: $dandelion;
        margin: 0;
        padding: 10px;
    }

    input[type="submit"]:hover {
        background: #e0c214;
    }
    input[type="submit"]:focus {
        background: #e0c214;
    }

    .contactName {
        width: 50%;
        margin-right: 2%;
        
    }
    .contactEmail {
        width: 50%;
        margin-left: 2%;
    }

    .container {
        display: flex;
        justify-content: space-between
    }
}


@media (max-width:840px) {
    .contactForm {
        bottom: 50px;
    }
} 

@media (max-width:750px) {

    .contactSection>div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between
    }

    .contactAside {
        margin-top: 0;
        margin-right: 0;
    }
    
}