html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 40px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

nav a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  padding-bottom: 10%;
}

nav a:hover {
  border-bottom: #fdd908 3px solid;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  font-family: "IM Fell English", serif;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.moreButton {
  text-decoration: none;
  font-style: italic;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  color: #0d457f;
  background: #fdd908;
  padding: 10px 10px;
}

footer {
  background: #fdd908;
}

footer p {
  color: #0d457f;
  margin: 0;
  text-align: center;
}

@media (max-width: 950px) {
  nav ul {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 450px) {
  h2, h3 {
    font-size: 1.5rem;
  }
}

.indexHeader {
  background-image: url(../assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHeading h1 {
  color: #fdd908;
  font-size: 3.95rem;
  margin-left: 7.5%;
  position: relative;
  top: 100px;
}

.mainHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerImage img {
  width: 100%;
}

.headerImage {
  display: block;
  max-width: 800px;
  position: relative;
  top: 100px;
}

.siteInfo {
  background: #eafefc;
}

.siteInfo h2 {
  margin: 0;
  color: #0d457f;
}

.siteInfo i {
  font-size: 1.5rem;
  background: #fdd908;
  border: 1px solid #fdd908;
  border-radius: 50%;
  padding: 10px;
}

.infoBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.infoBoxes > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.infoIcon {
  margin: 0 20px;
}

.programsLocations {
  background: #0d457f;
  color: white;
}

.programsLocations p {
  padding-bottom: 5%;
}

.programsInfo,
.locationsInfo {
  width: 45%;
  margin-bottom: 5%;
}

.programsInfo {
  padding-right: 10%;
}

.locationsInfo {
  padding-left: 10%;
  text-align: right;
}

.programsLocations img {
  width: 100%;
  display: block;
}

.programsImage,
.locationsImage {
  width: 45%;
}

.programsImage {
  -webkit-box-shadow: 40px 40px 0px -14px #fdd908;
          box-shadow: 40px 40px 0px -14px #fdd908;
  position: relative;
  bottom: 65px;
}

.locationsImage {
  -webkit-box-shadow: -40px -40px 0px -14px #fdd908;
          box-shadow: -40px -40px 0px -14px #fdd908;
  position: relative;
  top: 65px;
}

.programs,
.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vacation {
  background: #eafefc;
}

.vacation > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.vacation h2 {
  color: #0d457f;
}

.vacation p {
  color: grey;
}

.vacationImage img {
  width: 100%;
  display: block;
}

.vacationImage {
  display: block;
}

div.vacationImage {
  padding: 0;
}

.contest {
  background: #eafefc;
}

.contest > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.contestImage img {
  display: block;
  -webkit-box-shadow: -25px 25px 0px 0px #fdd908;
          box-shadow: -25px 25px 0px 0px #fdd908;
}

.contestInfo {
  margin-left: 100px;
}

.contestInfo h2 {
  color: #0d457f;
}

.contestInfo p {
  color: grey;
  padding-bottom: 5%;
}

.gallery {
  background: #0d457f;
}

.gallery img {
  display: block;
  width: 100%;
}

.galleryBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.galleryImage2 {
  padding: 0 40px;
}

@media (max-width: 1180px) {
  .mainHeading h1 {
    position: unset;
  }
  .headerImage {
    display: block;
    max-width: 800px;
    position: unset;
  }
}

@media (max-width: 940px) {
  .headerImage {
    display: none;
  }
  .mainHeading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infoBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 100px 0;
  }
  .programs,
  .locations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programsInfo {
    padding-right: 0%;
  }
  .locationsInfo {
    padding-left: 0%;
    text-align: left;
  }
  .locationsInfo,
  .programsInfo {
    width: 85%;
  }
  .contest > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .contestInfo {
    margin-left: 0;
    margin-top: 30px;
  }
  .contestImage {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 90%;
  }
  .mainHeading h1 {
    margin-left: 10%;
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 90%;
  }
  .infoIcon {
    display: none;
  }
  .mainHeading h1 {
    font-size: 2rem;
    margin-left: 5%;
  }
}

.contactHeader {
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contactHeader h1 {
  font-size: 3.95rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 10% 0 15% 0;
}

.contactSection > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}

.contactSection ul li {
  margin: 0 10% 0 0;
}

.contactSection ul a {
  color: #0d457f;
}

.contactSection p a {
  color: black;
  text-decoration: none;
}

.contactAside {
  margin-top: 5%;
  margin-right: 1%;
}

.contactForm {
  background: #0d457f;
  padding: 3% 0;
  -webkit-box-shadow: 20px 20px 0px 0px #fdd908;
          box-shadow: 20px 20px 0px 0px #fdd908;
  position: relative;
  bottom: 100px;
}

.contactForm input, .contactForm textarea, .contactForm label {
  width: 100%;
  display: block;
  background: #0d457f;
  color: white;
  margin: 5% 0;
  padding: 20px;
  border: none;
}

.contactForm input, .contactForm label {
  border-bottom: 2px #fdd908 solid;
}

.contactForm input:hover, .contactForm textarea:hover {
  background: #0b396b;
  border-radius: 3px;
}

.contactForm input:focus, .contactForm textarea:focus {
  background: #0b396b;
  border-radius: 3px;
}

.contactForm textarea {
  border: 2px #fdd908 solid;
}

.contactForm input[type="submit"] {
  text-decoration: none;
  font-style: italic;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  color: #0d457f;
  background: #fdd908;
  margin: 0;
  padding: 10px;
}

.contactForm input[type="submit"]:hover {
  background: #e0c214;
}

.contactForm input[type="submit"]:focus {
  background: #e0c214;
}

.contactForm .contactName {
  width: 50%;
  margin-right: 2%;
}

.contactForm .contactEmail {
  width: 50%;
  margin-left: 2%;
}

.contactForm .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 840px) {
  .contactForm {
    bottom: 50px;
  }
}

@media (max-width: 750px) {
  .contactSection > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contactAside {
    margin-top: 0;
    margin-right: 0;
  }
}

body {
  background: #eafefc;
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blogHeader h1 {
  font-size: 3.95rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 10% 0 15% 0;
}

.blogSection {
  background: #eafefc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogSection img {
  width: 100%;
  display: block;
}

.blogAside {
  background: #0d457f;
  width: 30%;
  margin: 5% 7.5%;
  height: 100%;
}

.asideImage {
  width: 120%;
  position: relative;
  right: 30%;
  bottom: 20px;
}

.asideInfo {
  margin: 10%;
}

.asideInfo h4 {
  color: #fdd908;
  font-size: 1.5rem;
  margin: 10% 0 5% 0;
}

.asideInfo p {
  color: white;
}

.asideInfo ul {
  color: white;
  list-style-type: disc;
  padding-left: 5%;
}

.asideInfo ul li {
  padding: 2% 0;
}

.nextDestinationImage {
  -webkit-box-shadow: -25px 15px 0px 0px #fdd908;
          box-shadow: -25px 15px 0px 0px #fdd908;
  margin-left: 20px;
  position: relative;
  bottom: 5%;
}

article {
  border-left: #fdd908 5px solid;
  border-bottom: #fdd908 5px solid;
  width: 70%;
  padding-bottom: 5%;
}

.nextDestinationPost h3 {
  color: #0d457f;
  font-size: 2rem;
  margin: 2% 0;
}

.nextDestinationPost p {
  margin: 5% 0;
}

.commentSection {
  margin-left: 40%;
  margin-top: 5%;
}

.commentSection h3 {
  color: #0d457f;
  font-size: 2rem;
  margin: 2% 0;
}

.userComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.comment p {
  margin: 0 0 0 5%;
}

p.commentDate {
  color: #0d457f;
  font-weight: bold;
  margin-bottom: .5%;
}

.profilePic {
  width: 25%;
  max-width: 85px;
}

.commentForm {
  padding: 3% 0;
}

.commentForm input, .commentForm textarea, .commentForm label {
  width: 100%;
  display: block;
  background: #eafefc;
  color: black;
  margin: 5% 0;
  padding: 20px;
  border: none;
}

.commentForm input, .commentForm label {
  border-bottom: 2px #fdd908 solid;
}

.commentForm input:hover, .commentForm textarea:hover {
  background: #d5e7e6;
  border-radius: 3px;
}

.commentForm input:focus, .commentForm textarea:focus {
  background: #d5e7e6;
  border-radius: 3px;
}

.commentForm textarea {
  border: 2px #fdd908 solid;
}

.commentForm input[type="submit"] {
  text-decoration: none;
  font-style: italic;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  color: #fdd908;
  background: #0d457f;
  border: none;
  margin: 0;
  padding: 10px;
}

.commentForm input[type="submit"]:hover {
  background: #1259a5;
}

.commentForm input[type="submit"]:focus {
  background: #1259a5;
}

.commentForm .commentName {
  width: 50%;
  margin-right: 2%;
}

.commentForm .commentEmail {
  width: 50%;
  margin-left: 2%;
}

.commentForm .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .blogAside {
    display: none;
  }
  article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 5px solid #fdd908;
    width: 90%;
  }
  .blogSection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commentSection {
    margin-left: 5%;
    margin-right: 5%;
  }
  .nextDestinationImage {
    position: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .nextDestinationPost > h3 {
    font-size: 1.5rem;
  }
  .profilePic {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
}
